<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nice Deal</title>
        
    <meta name="keywords" content="">
    {% block stylesheets %}
        <style>
            #owl-demo .item{
                margin: 3px;
            }
            #owl-demo .item img{
                display: block;
                width: 100%;
                height: auto;
            }
        </style>

        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Bootstrap and Font Awesome css -->
        <link href="{{asset("bundles/frontBundle/css/bootstrap.min.css")}}" rel="stylesheet">

        <!-- Theme stylesheet  -->
        <link href="{{asset("bundles/frontBundle/css/style.css")}}" rel="stylesheet" id="theme-stylesheet">

         <!-- Custom stylesheet - for your changes  -->
        <link href="{{asset("bundles/frontBundle/css/custom.css")}}" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.png">

         <!--owl carousel css -->
         <link href="{{asset("bundles/frontBundle/css/owl.carousel.css")}}" rel="stylesheet">
        <link href="{{asset("bundles/frontBundle/css/owl.theme.css")}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset("bundles/frontBundle/css/owl.carousel.css")}}" />
     {% endblock %}
</head>
{% block body %} {% endblock %}

<!-- /#all -->
 {% block javascripts %}
    <!-- #### JAVASCRIPT FILES ### -->
        
     <!-- Responsivity for older IE   -->
    <script src="{{asset("bundles/frontBundle/js/respond.min.js")}}"></script>
    <script src="{{asset("bundles/frontBundle/js/jquery-1.11.0.min.js")}}"></script>
    <script src="{{asset("bundles/frontBundle/js/bootstrap.min.js")}}"></script>
    <script src="{{asset("bundles/frontBundle/js/front.js")}}"></script>
     
    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
    </script>
    

    <!-- owl carousel -->
    <script src="{{asset("bundles/frontBundle/js/owl.carousel.js")}}"></script>
  

     <!-- End owl -->
  {% endblock %}
</body>

</html>