{% extends "::base.html.twig" %}
{% block body %}
    
{% include '::includesFront/topColumn.html.twig' %}

<h1>Mes coordonnées</h1>
<p class="info-account">Bienvenue {{ user.username }} sur votre page d'information personelle.</p>
<div class="coordonnees">
    <p><strong>Civilité </strong>{{ infoCustomer.title }}</p>
    <p><strong>Nom </strong>{{ infoCustomer.name }}</p>
    <p><strong>Prénom </strong>{{ infoCustomer.lastName }}</p>
    <p><strong>E-Mail / Identifiant </strong>{{ user.email }}</p>
    <p><strong>Téléphone </strong>{{ user.email }}</p>
    <p><strong>Adresse </strong> {{ infoCustomer.address }}</p>
    <div class="more_link"><a href="{{path('front_customer_update_coordonner_page' , { 'id': infoCustomer.id }) }}">Modifier mes coordonnées</a></div>
</div><!--end-coordonnees-->
 {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}     