{% extends "::base.html.twig" %}
{% block body %} 
   {% include '::includesFront/topColumn.html.twig' %}
   <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        <li>Connexion</li>
                    </ul>
                    <div class="box login">
                      <div class="card card-left">
                            <div class="fb_btn" data-appid="685663661483103" data-location="https://passport.dx.com" data-scope="public_profile,email">
                                <a href="javascript:;" rel="nofollow"><i class="icon icon_fb"></i>Connectez-vous avec 
                                    <b>Facebook </b> 
                                </a>
                               
                            </div>
                       </div><!--end-btn--fb-->
                       <div class="card card-right">
                            <h3 class="page-subheading">Déjà inscrit?</h3>
                            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            <p id="profile-name" class="profile-name-card"></p>
                            <form id="form-signin">
                               <div class="item"> 
                                   <label for="Email" class="glyphicon glyphicon-envelope"></label>
                                   <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                               </div>
                                <div class="item">
                                    <label for="password" class="glyphicon glyphicon-lock"></label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                                </div>
                                <div class="remember_me clearfix">
                                    <div id="remember" class="checkbox">
                                        <label>
                                            <input type="checkbox" value="remember-me"> Souviens de moi
                                        </label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Connexion</button>
                                </div><!---end remember_me--> 
                            </form><!-- /form -->
                            <div class="forget_pass">
                                <label class="glyphicon glyphicon-info-sign"></label>
                                <a href="#" class="forgot-password">
                                    Mot de pass oublié ?
                                </a>
                            </div>
                       </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- *** LEFT COLUMN ***
		    _________________________________________________________ -->

                <div class="col-md-9">

                    <div class="row" id="productMain">
                    
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product2.jpg")}}" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product3.jpg")}}" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product1.jpg")}}" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h3>Products viewed recently</h3>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product3.jpg")}}" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product1.jpg")}}" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product2.jpg")}}" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>

                </div>
                <!-- /.col-md-9 -->


                <!-- *** LEFT COLUMN END *** -->


                <!-- *** RIGHT COLUMN END *** -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <!-- /.container -->
        </div>
   {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}