{% extends "::base.html.twig" %}
{% block body %}
   {% include '::includesFront/topColumn.html.twig' %}
   <div id="all">
      <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        <li>Créer votre compte</li>
                    </ul> 
                
      <div class="box register">
        <div class="card card-left">
            <!------form--register----->
            <ul class="hd">
                <!-- hd_reg -->
                <li class="m_login fl">
                    <a href="#" title="Rejoignez-nous gratuitement" class="cur">
                        Inscrire 
                    </a>
                </li>
                <li class="m_reg fl">Vous avez déjà un compte?  
                    <a href="/?redirect=http%3A%2F%2Fwww.dx.com" title="Se connecter " id="sing_in_btn">
                        Se connecter 
                    </a> 
                </li>
            </ul>
            <form method="post" enctype="multipart/form-data" class="form-register">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="box-body">
                    <div class="form-group">
                        {{ form_label(form.title,"Titre") }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName,"Prénom") }}
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                     <div class="form-group">
                        {{ form_label(form.user.username,"Identifiant") }}
                        {{ form_errors(form.user.username) }}
                        {{ form_widget(form.user.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.address,"Adresse") }}
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.telephone,"Télephone") }}
                        {{ form_errors(form.telephone) }}
                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                   
                    <div class="form-group">
                        {{ form_label(form.user.email,"E-mail") }}
                        {{ form_errors(form.user.email) }}
                        {{ form_widget(form.user.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.user.plainPassword.first,"Mot de passe") }}
                        {{ form_errors(form.user.plainPassword.first) }}
                        {{ form_widget(form.user.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.user.plainPassword.second,"Confirmation") }}
                        {{ form_errors(form.user.plainPassword.second) }}
                        {{ form_widget(form.user.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Connexion</button>
                {{ form_end(form) }}
            </div>
             
            </form>
            <!------------>
        </div>
      </div>
      </div> 
        <!-- *** RIGHT COLUMN END *** -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <!-- /.container -->
        </div>
   {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}