{% extends "::base.html.twig" %}
{% block body %}
    
   {% include '::includesFront/topColumn.html.twig' %}
   <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        <li>Créer votre compte</li>
                    </ul>
                    
                </div>
                <!-- *** RIGHT COLUMN ***
		  _________________________________________________________ -->
                
                <!------test form----->
                <form method="post" enctype="multipart/form-data">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="box-body">
                    <div class="form-group">
                        {{ form_label(form.test,"Nom") }}
                        {{ form_errors(form.test) }}
                        {{ form_widget(form.test, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.user.username,"Nom") }}
                        {{ form_errors(form.user.username) }}
                        {{ form_widget(form.user.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.user.email,"Nom") }}
                        {{ form_errors(form.user.email) }}
                        {{ form_widget(form.user.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.user.username,"Nom") }}
                        {{ form_errors(form.user.username) }}
                        {{ form_widget(form.user.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
              
                {{ form_end(form) }}
            </div>
             
       </form>
            <!------------>

                <div class="col-sm-3">

                    <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                 

                    <!-- *** MENUS AND FILTERS END *** -->
                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <!-- /.container -->
        </div>
   {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}