{% extends "::base.html.twig" %}
{% block body %}
    
{% include '::includesFront/topColumn.html.twig' %}
<h1> Mes commandes</h1>
<p class="info-account">Vous trouverez ici vos commandes passées depuis la création de votre compte</p>
{% if countResult ==0 %}
<div class="block-center" id="block-history">
  <p class="alert alert-warning">Vous n'avez pas encore passé de commande</p>
</div>
    {% else %}

<div class="orderList">
                <table id="simple-example-table" width="100%">
                    <tbody><tr class="oderTitle">
                        <th>numéro de commande</th>
                        <th>Product &nbsp; | &nbsp; Qty</th>
                        <th>Total</th>
                        <th>Date de commande</th>
                        <th>Mode de paiement</th>
                        <th>Status</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                    
                   <tr class="highlight" style="min-height: 72px;">
                                <td>{{listOrder.orderNumber}}</td>
                                <td>
                                    <table width="100%">
                                       <tbody><tr style="background: none;">
                                        <td>{{listOrder.products.description}}</td>
                                        <td width="30">1</td>
                                    </tr>
                                       </tbody>
                                    </table>
                                </td>
                                <td>{{listOrder.products.price}}</td>
                                <td>{{listOrder.orderDate |date('Y-M-d')}}</td>
                                <td>Paiement par carte bancaire</td>
                                <td>Delivered</td>
                                <td style="text-align: center">
                                 
                                        <a class="list_coupon" href="/mes-coupons/coupon/listing.html?orderId=35079&amp;token=252efb866f1e4d5082ebc9171b61c2ed&amp;ItemId=">
                                            <div class="profileAddGoldV7">
                                                Imprimer Coupon 
                                            </div>
                                        </a>
                                </td>
                        </tr>   
                        </tbody>
                </table>
            </div>
<!---fin table---->
{%endif%}
<div class="footer_links clearfix">
    <ul>
        <li>
	    <a class="btn btn-default button button-small" href="{{path('front_customer_detail_page')}}">
		<span>
                    <i class="glyphicon glyphicon-chevron-left"></i> Retour à votre compte
		</span>
	    </a>
	</li>
	<li>   
	<a class="btn btn-default button button-small" href="{{path('front_home_homepage')}}">
            <span><i class="glyphicon glyphicon-chevron-left"></i> Accueil</span>
        </a>
	</li>
    </ul>
</div>
 {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}          