{% extends "::base.html.twig" %}
{% set totalHT = 0 %}

{% block body %}
{% include '::includesFront/topColumn.html.twig' %}
<h1>Mes commande</h1>
<p class="info-account">Bienvenue sur votre page récapitulatif de la commande.</p>
{% if products %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description du deal</th>
           <th>Prix unitaire</th>
           <th>Quantité</th>
           <th>Sous-total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
         <td>
            <div class="row">
                <div class="col-sm-3 col-xs-6 text-center">
                    <img src="{{ asset('uploads/img/'~products.image.id~products.image.url) }}" alt="La Goulette : Une rupture du jeûne pour 2 personnes à 39 DT Seulement au restaurant Le Parador">
                </div>
                <div class="col-sm-9 col-xs-6">
                    <p>{{products.name}}</p>
                </div></div>
         </td>
         <td class="bold">{{products.price}} <sup>DT</sup></td>
         <td class="bg">
             <form action="{{ path('front_customer_add_pannier_page', { 'id' : products.id }) }}" method="get">
                <select class="form-control" id="form-control" name="qte" onChange="this.form.submit()">
                    {% for i in 1..10 %}
                        <option value="{{ i }}" {% if i == panier[products.id] %} selected="selected" {% endif %}>{{ i }}</option>>{{ i }}</option>
                    {% endfor %}
                </select>
             </form><!---end --form-->
         </td>
         <td class="bold">{{ products.price * panier[products.id] }} <sup>DT</sup></td>
        </tr>
        {% set totalHT = totalHT + (products.price * panier[products.id]) %}
        
        <tr class="hidden-xs"><td></td><td></td><td>Montant total</td><td class="bold">{{totalHT}} <sup>DT</sup></td></tr>
    </tbody></table>
     <h3>Choisissez votre méthode de paiement</h3>
    <div id="HOOK_PAYMENT">
      <p>
          <a class="bankwire" href="#" title="Paiement sécurisé par carte bancaire"> Paiement sécurisé par carte bancaire <span class="glyphicon glyphicon-chevron-right"></span></a>
      </p>
      <p>
        <a class="poste" href="#" title="Paiement par carte de la poste Tunisienne"> Paiement par la carte de la Poste<span class="glyphicon glyphicon-chevron-right"></span> </a>
      </p>
       <p>
        <a class="space" href="#" title="Paiement en Espèces">Mandat postal<span class="glyphicon glyphicon-chevron-right"></span> </a>
      </p>
      <p>
        <a class="cheque" href="#" title="Paiement en Espèces">Paiement en Espèces <span class="glyphicon glyphicon-chevron-right"></span> </a>
      </p>
    </div>
     
    {% else %}
        <div class="alert alert-success">								
            <a class="close" data-dismiss="alert">×</a>
                <h4 class="alert-heading">Message</h4>
            <div>
            <p class="alert-message">Le panier est vide ou de la session a expiré!</p>
            </div>
        </div>
        {% endif %}
        <div class="footer_links clearfix">
            <ul>
                <li>
                    <a class="btn btn-default button button-small" href="{{path('front_home_homepage')}}">
                        <span>
                            <i class="glyphicon glyphicon-shopping-cart"></i> Continue mes shopping
                        </span>
                    </a>
                </li>
                <li>   
                <a class="btn btn-default button button-small" href="/">
                    <span><i class="glyphicon glyphicon-chevron-left"></i> Accueil</span>
                </a>
                </li>
            </ul>
        </div><!--end-of-link-->
    {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}     