{% extends "::base.html.twig" %}
{% block body %}
    
   {% include '::includesFront/topColumn.html.twig' %}
   <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li><a href="#">Ladies</a>
                        </li>
                        <li><a href="#">Tops</a>
                        </li>
                        <li>Shaw Academy : une formation en ligne en santé et bien être à 19 DT Seulement</li>
                    </ul><div class="clearfix"></div>
                    <div class="box text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1>Shaw Academy : une formation en ligne en santé et bien être à 19 DT Seulement</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *** LEFT COLUMN  -->
                <div class="col-md-9">

    <div class="row" id="productMain">
        <div class="col-sm-6">
                          
    <div style="width: 400px; margin: 0px auto;">
     {% for product in products %}
    <div id="myCarouselBig" class="carousel slide products">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-xs-12">
                        {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}
                </div>
            </div>
            <div class="item">
                <div class="col-xs-12">
                        {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}
                </div>
            </div>
            <div class="item">
                <div class="col-xs-12"><a href="#">{% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
            <div class="item">
                <div class="col-xs-12"><a href="#">{% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
            <div class="item">
                <div class="col-xs-12"><a href="#">{% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
            <div class="item">
                <div class="col-xs-12"><a href="#">{% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarouselBig" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarouselBig" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="myCarousel" class="carousel slide">

        <div class="carousel-inner">
            <div class="item active">
                <div class="col-xs-3" style="width: 20%;">
                    <a href="#">
                        {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="col-xs-3" style="width: 20%;"><a href="#"> {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
            <div class="item">
                <div class="col-xs-3" style="width: 20%;"><a href="#"> {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
            <div class="item">
                <div class="col-xs-3" style="width: 20%;"><a href="#"> {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
            <div class="item">
                <div class="col-xs-3" style="width: 20%;">
                    <a href="#"> {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="col-xs-3" style="width: 20%;"><a href="#"> {% if (product.image) %}
                            <img src="{{ asset('uploads/img/'~product.image.url) }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/360x240" alt="">
                        {% endif %}</a></div>
            </div>
        </div>
        
    </div>

    </div>
    <!---end-slider-->
    </div>
        <div class="col-sm-6">
                <div class="box detail-box">
                    <form>
                        <div class="sizes">
                        </div>
                        <p class="price">{{product.price}}.00<sup>DT</sup></p>
                        <p class="price">Au lieu de {{product.oldPrice}}.00<sup>DT</sup></p>
                        <p class="text-center">
                            <a href='{{path('front_customer_add_pannier_page', { 'id': product.id }) }}' class="btn btn-primary"><i class="fa fa-shopping-cart"></i> J'achete</a>
                            <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart-o"></i></button>
                        <div id="time-product">    
                            <span><i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>  Vente illimité !</span>
                            <table style="border:0px;">
                                <tr>
                                    <td style="width:60px;text-align:center;">Jours</td>
                                    <td style="width:70px;text-align:center;">Heures</td>
                                    <td style="width:60px;text-align:center;">Min</td>
                                    <td style="width:70px;text-align:center;">Sec</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><span id="given_date"></span></td>
                                </tr>
                            </table>
                            <div class="clearfix"></div>
                        </div><!---end --time-product-->
                        </p>

                    </form>
                 </div>
        </div>

    </div>
                
    <div class="box" id="details">
            <p>
                <h4>Details produit </h4>
            <p> 
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                </tr>
            </p>
                <h4>Inforamtion de partenaire</h4>
            <ul>
                <li>{{product.partenary.name}}</li>
                <li>Adresse: {{product.partenary.adresse}}</li>
               
            </ul>
                <blockquote>
                   <p><em>{{product.partenary.additionalInformation}}</em></p>
                </blockquote>
    </div> 
                    <div class="box social" id="product-social">
                        <h4>Partagez avec vous amis</h4>
                        <p>
                            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h3>Autres produits qui peut vous intéresser</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="product.image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product2.jpg")}}" alt="" class="img-responsive product.image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="product.image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product3.jpg")}}" alt="" class="img-responsive product.image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="product.image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product1.jpg")}}" alt="" class="img-responsive product.image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h3>Produits plus populaires </h3>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="product.image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product3.jpg")}}" alt="" class="img-responsive product.image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="product.image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product1.jpg")}}" alt="" class="img-responsive product.image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product">
                                <div class="product.image">
                                    <a href="#">
                                        <img src="{{asset("bundles/frontBundle/img/product2.jpg")}}" alt="" class="img-responsive product.image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                           
                            

                </div>
                {%endfor%}<!---for product.image-->
                <!-- /.col-md-9 -->
                <!-- *** LEFT COLUMN END *** -->

               {% include '::includesFront/left.html.twig' %}

                <!-- *** RIGHT COLUMN END *** -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <!-- /.container -->
        </div>
            
        {% block javascripts %}
        <script type="text/javascript" src="{{asset("bundles/frontBundle/js/carousel.js")}}"></script>
        <script type="text/javascript" src="{{asset("bundles/frontBundle/js/jquery-1.11.0.min.js")}}"></script>
        <script type="text/javascript" src="{{asset("bundles/frontBundle/js/bootstrap.min.js")}}"></script>
        <script type="text/javascript" src="{{asset("bundles/frontBundle/js/jquery.countdownTimer.js")}}"></script>
        
        <script>
            $(function(){
                $('#given_date').countdowntimer({
                        startDate : "{{products[0].creationDate |date('Y/m/d H:i:s')}}",
                        dateAndTime : "{{products[0].endDate |date('Y/m/d H:i:s')}}",
                       size : "lg"
                 });
            });
        </script>
        {% endblock %}
       
        {% block stylesheets %}
            {{ parent() }}
        <style>
        #myCarousel .carousel-inner > .next.left, #myCarousel .carousel-inner > .prev.right {
        left: 0 !important;
        }

        #myCarousel .carousel-inner .active.left  { left: -20%;             }
        #myCarousel .carousel-inner .active.right { left: 20%;              }
        #myCarousel .carousel-inner .next         { left: 20%               }
        #myCarousel .carousel-inner .prev         { left: -20%              }
        #myCarousel .carousel-control.left        { background-product.image: none; }
        #myCarousel .carousel-control.right       { background-product.image: none; }
        #myCarousel .carousel-inner .item         { background: white;      }
         </style>
        {% endblock %}
   {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}