 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">NAVIGATION PRINCIPALE</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i> <span>Produit</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href={{path('back_product_admin_add_products')}}><i class="fa fa-circle-o"></i> Ajout produit</a></li>
            <li><a href={{path('back_product_admin_list_products')}}><i class="fa fa-circle-o"></i> Liste produit</a></li>
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Catégorie</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href={{path('back_category_admin_add_category')}}><i class="fa fa-circle-o"></i> Ajout catégorie</a></li>
            <li><a href={{path('back_category_list_category')}}><i class="fa fa-circle-o"></i> Liste catégorie</a></li>
            <li><a href={{path('back_product_admin_add_sub_category')}}><i class="fa fa-circle-o"></i> Ajout sous catégorie</a></li>
           
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-star"></i> <span>Parentaires</span>
            <i class="fa fa-angle-left pull-right"></i><span class="label label-primary pull-right">4</span>
          </a>
          <ul class="treeview-menu">
            <li><a href={{path('back_product_admin_add_partenary')}}><i class="fa fa-circle-o"></i> Ajout parentaire</a></li>
            <li><a href={{path('back_product_admin_list_partenary')}}><i class="fa fa-circle-o"></i> Liste parentaire</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Utilisateur</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{path('fos_user_list_user')}}"><i class="fa fa-circle-o"></i> Liste utilisateur</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendrier</span>
            <small class="label pull-right bg-red">3</small>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Boites aux lettres</span>
            <small class="label pull-right bg-yellow">12</small>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <section class="content-header">
         