{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    
   {% include '::includesFront/topColumn.html.twig' %}
   <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        <li>Connexion</li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="box text-center login">
                      <div class="card card-left">
                        <div class="social-button facebook-login" data-bhw="FacebookLogin" data-bhw-path="FacebookLogin">
                        <div class="facebook-login-button" tabindex="30">
                          <span class="icon-facebook">Se connecter avec Facebook</span>
                        </div>
                      </div><!--end-fb--->
                      <div class="">Pas encore inscrit ? <a href="{{path('front_customer_register_page')}}" >S'inscrire</a></div>
                       </div>
                       <div class="card card-right">
                            <h3 class="page-subheading">Déjà inscrit?</h3>
                            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            
                            <p id="profile-name" class="profile-name-card"></p>
                                {% block fos_user_content %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <form action="{{ path("fos_user_security_check") }}" method="post" id="form-signin">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="item">
                                        <label for="username" class="glyphicon glyphicon-envelope"></label>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                                    </div>
                                    <div class="item">
                                        <label for="password" class="glyphicon glyphicon-lock"></label>
                                        <input type="password" id="password" name="_password" required="required" class="form-control" />
                                    </div>
                                    <div class="remember_me clearfix">
                                      <div id="remember" class="checkbox">
                                       <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-control" />
                                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                      </div>
                                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-primary btn-block btn-signin"  />
                                    </div>
                                </form>
                                <div class="forget_pass">
                                    <label class="glyphicon glyphicon-info-sign"></label>
                                    <a href="#" class="forgot-password">
                                        Mot de pass oublié ?
                                    </a>
                                </div>
                                {% endblock fos_user_content %}        
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- *** LEFT COLUMN -->
                {% include '::includesFront/otherProducts.html.twig' %}
                <!-- /.col-md-9 -->
                <!-- *** LEFT COLUMN END *** -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <!-- /.container -->
        </div>
   {% include '::includesFront/footer.html.twig' %}

        </div>
        <!-- /#content -->
 {% endblock %}