</div>
</div>
</div>
<!-- *** FOOTER *** -->
 <div id="footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h4>Pages</h4>

                    <ul>
                        <li><a href="text.html">À propos</a>
                        </li>
                        <li><a href="text-left.html">Termes et conditions</a>
                        </li>
                        <li><a href="faq.html">FAQ</a>
                        </li>
                        <li><a href="{{path('front_home_contact_page')}}">Contacter nous</a>
                        </li>
                    </ul>
                    <hr>
                    <h4>Section utilisateur</h4>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">S'identifier</a>
                        </li>
                        <li><a href="{{path('front_customer_register_page')}}">S'enregistrer</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="{{path('front_home_list_products_by_category',{'category': 'Deal'})}}"><span class="widget-list-number-counter">8</span>Deal</a></li>
                        <li><a href="{{path('front_home_list_products_by_category',{'category': 'Shop'})}}"><span class="widget-list-number-counter">5</span>Shop</a>
                        </li>
                        <li><a href="{{path('front_home_list_products_by_category',{'category': 'Formation'})}}"><span class="widget-list-number-counter">3</span>Formation</a>
                        </li>
                    </ul>
                    <hr class="hidden-md hidden-lg">
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                 
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                   <h4>Newsletter</h4>
                   <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                        <span class="input-group-btn">

                            <button class="btn btn-default" type="button">Souscrire!</button>

                        </span>

                        </div>
                        <!-- /input-group -->
                   </form>

                    <hr>

                    <h4>Suivez nous</h4>

                    <p class="social">
                        <a href="https://www.facebook.com/NhnNmlWHmYtqazwnAlshhrya/" target="_"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->

        <!-- *** COPYRIGHT ***
_________________________________________________________ -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">Copyright &copy; {{ "now"|date('Y') }} NiceShop. Tous droits réservés.</p>
                    <p class="pull-right">
                       NOUS ACCEPTONS : <img src="{{asset("bundles/frontBundle/img/payment.png")}}" alt="payments accepted">
                    </p>

                </div>
            </div>
        </div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->

    <div id="feedback_tab" data-toggle="modal" data-target="#feedbackModal">
        <span><img class="feedback-icon" src="https://bowntycdn.net/img/frontend/desktop/feedback-icon.png?v=5183" alt="feedback" width="22" height="20" data-toggle="modal" data-target="#myModal">Feedback</span>
    </div>
        
<!-- Modal -->
<div id="feedbackModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
     <div class="modal-header">
	<h3 id="feedbackLabel">Aidez-nous à améliorer votre expérience!</h3>
	<span class="modal-close" data-dismiss="modal"></span>
     </div>
	<div class="modal-body">
		<p>Nous sommes toujours intéréssés par vos commentaires. Nous les lisons avec attention, mais veuillez noter que nous ne pouvons pas toujours y répondre directement.</p>
		<p>NB: cette page sert uniquement aux commentaires. Si vous cherchez de l'aide, visitez '<a href="/help">Help Page</a>'</p>
		<form action="/feedbacks" novalidate="novalidate" id="FeedbackThemedForm" method="post" accept-charset="utf-8"><div id="feedbackFormWrapper">
		        <div style="display:none;">
				<input type="hidden" name="_method" value="POST">
			</div>
			<fieldset>
				<div class="control-group">
                                    <label for="SiteFeedbackMessage" class="control-label">Commentaires: *</label>
				    <div class="controls">
					<textarea name="message" rows="5" required="required" title="Required" id="SiteFeedbackMessage"></textarea>
				    </div>
				</div>
				<div class="control-group">
                                    <label for="SiteFeedbackName" class="control-label">Nom:</label>
				    <div class="controls">
					<input name="name" type="text" id="SiteFeedbackName" value=" ">
				    </div>
				</div>
				<div class="control-group">
					<label for="SiteFeedbackEmail" class="control-label">Email:</label>
					<div class="controls">
					 <input name="email" type="email" id="SiteFeedbackEmail" value="">
					</div>
				</div>
				<input type="hidden" name="type" value="site-feedback" id="SiteFeedbackType">
			</fieldset>
							<div class="control-group">
								<button type="submit" class="btn turquoise-full" data-theme="reset">Envoyer les commentaires</button>
							</div>
						</div></form>
					</div>
    </div>

  </div>
</div>
    </div>

