<div class="navbar-collapse collapse" id="navigation">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{{path('front_home_homepage')}}">Tous nos deals<b class="caret"></b></a>
                       {# <ul class="dropdown-menu">
                            <li><a href="index.html">Home - default</a>
                            </li>
                            <li><a href="index2.html">Home - intro image</a>
                            </li>
                        </ul>#}
        </li>
        <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">deal<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="yamm-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="{{asset("bundles/frontBundle/img/menu_deal.jpg")}}" class="img-responsive hidden-xs" alt="">
                                </div>
                                <div class="col-sm-3">
                                    <h3><a href="{{path('front_home_list_products_by_category',{'category': 'Formation'})}}" class="titleMenu">Deal</a></h3>
                                    <ul>
                                       <li><a href="category.html">Hôtels</a></li>
                                       <li><a href="category.html">Centres de thalassothérapie</a></li>
                                       <li><a href="category.html">Spa</a></li>
                                       <li><a href="category.html">Centres d'amincissement </a></li>
                                       <li><a href="category.html">Salons de coiffure / Centres d'esthétique </a></li>
                                       <li><a href="category.html">Salles de sport </a></li>
                                       <li><a href="category.html">Mariage </a></li>
                                    </ul>
                                </div>
                                        <div class="col-sm-3">
                                            <h3><a href="{{path('front_home_list_products_by_category',{'category': 'Shopping'})}}" class="titleMenu">Shopping</a></h3>
                                            <ul>
                                                <li><a href="category.html">Maroquineries & accessoires</a>
                                                </li>
                                                <li><a href="category.html">Maison & jardin</a>
                                                </li>
                                                <li><a href="category.html">Enfants & jouets</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3><a href="{{path('front_home_list_products_by_category',{'category': 'Formation'})}}" class="titleMenu">Formation</a></h3>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="footer clearfix hidden-xs">
                                    <h4 class="pull-right">Men</h4>
                                   
                                </div>

                            </li>
                        </ul>
                    </li>
                   
                    <li class="dropdown yamm-fw">
                        <a href="{{path('back_product_admin_end_date_products')}}" class="dropdown-toggle"  data-hover="dropdown" data-delay="200">Deals passés</a>
                    </li>
                    <li><a href="{{path('front_home_contact_page')}}">Contact</a>
                    </li>
                </ul>

            </div><!--end nav-->