<form action="{{path('front_home_list_products_by_city')}}" method="POST" class="form-search">
     {{ form_start(form) }}
     {{ form_errors(form) }} 
        <div class="form-group">
            {{ form_label(form.city,"Ville") }}
            {{ form_errors(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
         </div>
         <button type="submit" class="btn"><span class="glyphicon glyphicon-zoom-out"></span></button>
    {{ form_end(form) }}
</form>


