{% extends "::baseAdmin.html.twig" %}
{% block body %}
    {% include '::includes/topColumn.html.twig' %}
    {% include '::includes/leftColumn.html.twig' %}
    <h1>Produits<small>Shop</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
        <li class="active">Catégorie</li>
    </ol>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Création du Catégorie</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
   <div class="box-body">
   <div class="row">
   <div class="col-md-12">
    <div class="box box-danger">
    <div class="box-body">
        <div class="box-body">
      {% if message %}
        <div class="alert alert-success">
            <strong><span class="glyphicon glyphicon-thumbs-up">Success!</span></strong> {{ message }}
        </div>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.name,"Nom") }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
                {{ form_end(form) }}
            </div>
              
       </form>
    </div>
    </div>
  {% include '::includes/footer.html.twig' %}
{% endblock %}
