{# src/back/ProductBundle/Resources/views/Advert/form.html.twig #}
{% extends "::baseAdmin.html.twig" %}
{% block body %}
    {% include '::includes/topColumn.html.twig' %}
    {% include '::includes/leftColumn.html.twig' %}
    <div class="col-md-6">
    <h3>Formulaire d'ajout partenaire <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h3>
    <div class="box"  style="padding: 10px">
        {% if message %}
            <div class="alert alert-success">
                <strong>Success!</strong> {{ message }}
            </div>
        {% endif %}

      <form method="post" enctype="multipart/form-data">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="box-body">
                <div class="form-group">
                    {{ form_label(form.name,"Nom") }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.adresse,"Adresse") }}
                    {{ form_errors(form.adresse) }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.telephone,"Téléphone") }}
                    {{ form_errors(form.telephone) }}
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.map,"Map") }}
                    {{ form_errors(form.map) }}
                    {{ form_widget(form.map, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.additionalInformation,"Information supplémentaire") }}
                    {{ form_errors(form.additionalInformation) }}
                    {{ form_widget(form.additionalInformation, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
                {{ form_end(form) }}
            </div>
              
       </form>
    </div>
    </div>
  {% include '::includes/footer.html.twig' %}
{% endblock %}