{% extends "::baseAdmin.html.twig" %}
{% block body %}
    {% include '::includes/topColumn.html.twig' %}
    {% include '::includes/leftColumn.html.twig' %}
     <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimer une piste, cette procédure est irréversible.</p>
                    <p>Voulez-vous poursuivre?</p>
                    <p class="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger btn-ok">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Liste des partenaires</h3>

        <table class="table table-bordered">
        <thead>
            <tr>
              <th>Nom de partenaire</th>
              <th>Adresse</th>
              <th>Téléphone</th>
              <th>Détail</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
        </thead>
         <tbody>
            {% for partenary in partenary %}
            <tr>
                <td>{{partenary.name}}</td>
                <td>{{partenary.adresse}}</td>
                <td>{{partenary.telephone}}</td>
                <td>
                    <a href="#" data-href="{{path('back_product_admin_delete_products',{'id': partenary.id})}}" data-toggle="modal" data-target="#confirm-delete"></a><br>
                    <button class="glyphicon glyphicon-remove" data-href="{{path('back_product_admin_delete_products',{'id': partenary.id})}}" data-toggle="modal" data-target="#confirm-delete"></button>
                </td>
                <td>
                    <a href="#" data-href="{{path('back_product_admin_delete_products',{'id': partenary.id})}}" data-toggle="modal" data-target="#confirm-delete"></a><br>
                    <button class="glyphicon glyphicon-remove" data-href="{{path('back_product_admin_delete_products',{'id': partenary.id})}}" data-toggle="modal" data-target="#confirm-delete"></button>
                </td>
                <td>
                    <a href="#" data-href="{{path('back_product_admin_delete_products',{'id': partenary.id})}}" data-toggle="modal" data-target="#confirm-delete"></a><br>
                    <button class="glyphicon glyphicon-remove" data-href="{{path('back_product_admin_delete_products',{'id': partenary.id})}}" data-toggle="modal" data-target="#confirm-delete"></button>
                </td>
            </tr>
            {% endfor %}
        </table>
         <nav>
        <ul class="pagination">
            {{ knp_pagination_render(paging) }}
        </ul>
        </nav>
    </div>
        
  {% include '::includes/footer.html.twig' %}
{% endblock %}