{% extends "::baseAdmin.html.twig" %}
{% block body %}
    {% include '::includes/topColumn.html.twig' %}
    {% include '::includes/leftColumn.html.twig' %}
   <h1>Produits<small>Shop</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Accueil</a></li>
        <li class="active">Produits</li>
    </ol>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Mon Stocke de utilisateurs</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
    <div class="box-body">
       <div class="table-responsive">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                          <h3 class="box-title">Liste des utilisateurs</h3>
                          <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                          </div>
                    </div>
        <div class="box-body">
          <div class="col-lg-3">
            <div class="input-group"> <span class="input-group-addon">Filter</span>
                <input id="filter" type="text" class="form-control" placeholder="Recherche ici...">
            </div>
          </div>
            <table class="table table-bordered">
            <thead>
            <tr>
              <th>Login</th>
              <th>Email</th>
              <th>Rôle</th>
              <th>Dernière connexion</th>
            </tr>
            </thead>
             <tbody class="searchable">
                    {% for user in users %}
                        <tr class="active">
                            <td>{{user.username}}</td>
                            <td> {{user.email}}</td>
                            <td> {{user.roles[0]}}</td>
                            <td>Le {{user.lastLogin|date('d/m/Y')}}</td>
                        </tr>
                    {% endfor %}  
             </tbody>
    </table>
             
       {{ knp_pagination_render(users) }}

    </div><!-- /.box-body -->
                   
    
{% include '::includes/footer.html.twig' %}
{% endblock %}












